<h1>Articles list</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article_record| %>
      <tr>
      <td><%= article_record.title %></td>
      <td><%= article_record.description %></td>
      <td>action</td>
      </tr>
    <% end %>
  </tbody>
</table>