<% if obj.errors.full_messages.any? %>
  <div class="col-md-8 col-sm-12 alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">
      The following errors prevented the
      <%= obj.class.name.downcase %>
      from being saved
    </h4>
    <hr>
    <ul"> <% obj.errors.full_messages.each do |msg|%> <li class="mb-0"><%= msg %></li> <% end %> </ul> <button type="button" class="close" data-dismiss="alert" aria-label="close" > <span aria-hidden="true">&times;</span> </button> </div> <% end %> 